#BgCOl1{background-color: #f3dc91;}
.sizeProfile{width: 320px;height: 320px;margin:100px 100px 20px 50px;border-radius: 80%;}
.sizeProfile2{width: 250px;height: 150px;}
.col12Pic{box-shadow:8px 5px gray;margin:20px 30px 0px 20px;background-color:red;border-left-width: 100px;padding-left: 30px;padding-top: 20px;padding-bottom: 10px;padding-right: 100px;
}
#imageSS {
    display: block;
    width: 600px;
    height: 300px;
  }
  
  #overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 224, 87);
    overflow: hidden;
    width: 600px;
    height: 0;
    transition: .5s ease;
  }
  #containers:hover #overlay {
    height: 300px;
  }
  #containers {
    position: relative;
    height: 60%;
    margin-top:20px;
    margin-left:20px;
  margin-bottom: 40px   ; }
  #about{background: rgb(27,11,120);
    background: linear-gradient(27deg, rgba(255,226,138,1) 0%, rgba(255,138,138,1) 47%, rgba(206,105,245,1) 100%);
    margin-top: 50px;padding-bottom: 20px;padding-top: 15px;border-top: rgb(198, 110, 248) solid 10px;margin-left: 0px;
    margin-right: 0px;}
  .bGgray{background-color:#EAA823;padding-bottom: 15px;}
  #info{box-shadow:8px 5px gray;margin:20px 30px 0px 20px;background-color:rgb(178, 132, 238);border-left-width: 100px;padding-left: 30px;padding-top: 20px;padding-bottom: 10px;}
  .cTop{
margin-top: 25px;margin-left: 10px;margin-right: 10px;
  }
  .sizeskill{height: 150px;width: 160px;margin-left: 70px;    padding-top: 15px;  }
  .fontcenter{text-align: center;font-size:24px;font-style: italic;font-weight: inherit;}
  .margincard{margin-bottom: 30px;  padding-bottom: 20px;}
  .bgHis{background-color:rgb(255, 192, 46);margin-left: 0px;margin-right: 0px;}
  #font{margin-top: 80px;font-size: 35px;font-style: inherit;color: white;text-shadow: black 2px 1.5px;}
  .mt{margin-bottom: 20px;padding-top: 15px;}
  #img{height: 5%;width: 5%;background-color: aliceblue;border-radius: 80%;}
  #bgpink{margin-top: 50px;background-color: rgb(197, 147, 226);} 
  #preferrence{border:black 10px; margin-top: 60px;background-color: rgb(5, 65, 99); margin-bottom: 30px;    padding-bottom: 50px;}
  #skill{border:black 10px; margin-top: 30px;background-color: rgb(47, 103, 155);}
  #history{border:black 10px; margin-top: 60px;background-color: rgb(127, 162, 228); margin-bottom: 30px; }
  #bgblue{background-color:rgb(127, 162, 228);}
  .info{font-size: 36px;}
  h1{color:white;}
