.fileter-tab{
    margin:15px auto;
}
.termDesign{
    margin:10px auto;
    font-size: 24px;
}
.AllCredit
{
    margin-bottom: 20px;
}
.fileter-tabss{
    margin:25px auto;
    padding-left: 120px;
    padding-right: 120px;
}
.Barnav{background: linear-gradient(27deg, rgba(206,105,245,1) 0%, rgba(255,138,138,1) 56%, rgba(255,226,138,1) 100%);
}
.formLefttt{margin-left: 580px;}
.whiteFF{color:white;font-size: 20px;}
.whiteFFsmall{color:white;font-size: 16px;}
.card{margin-top: 30px; border-radius: 50px;background-color: rgb(253, 245, 222)   ;}
.colorthead{background-color: rgb(255, 188, 100);}
.card{  margin-left: 40px;
    margin-right: 40px;}