.TableR{
    padding-left: 100px;
    padding-right: 100px;
}
.TableRS{
margin-left: 250px;
margin-top: 40px;
margin-bottom: 20px;
}
.RoRTable{
    padding-left: 100px;
    padding-right: 100px;
margin-top:60px;
}
#sideNav{background-color: tomato;}
.container{
    /* margin-top: 50px; */
    padding-top: 6px ;
}
.card{margin-left: 150px;
padding-left: 40px;
padding-right: 40px;
margin-top: 35px;
margin-bottom: 35px;
margin-left: 150px;
margin-right: 150px;
box-shadow: 10px 10px 5px rgb(61, 17, 71);
border-radius: 20px;
border-left: rgb(113, 58, 150) solid 20px;
border-right: rgb(113, 59, 150)solid 20px;}
body{  background-image: linear-gradient(to bottom right, #ffffff, rgb(253, 206, 243), rgb(200, 129, 228),rgb(87, 87, 226));
}
hr{border: blue  solid 2px;}
#head{background-color: violet;}